.notaroja{
  background-color: red !important;
  color: white !important;
}
.notaamarilla{
  background-color: lightyellow;
}
.notaverde{
  background-color: lightgreen;
}
.notaazul{
  background-color: lightblue;
}
